* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	border-radius: 10px ;
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px ;
	-ms-border-radius: 10px ;
	-o-border-radius: 10px ;
}

body {
	background: linear-gradient(
		to right,
		#adff2f,
		#00ffff,
		#adff2f,
		#00ffff,
		#adff2f
	);
}

h1 {
	text-align: center;
	font-family: cursive;
	-webkit-text-stroke: 2px black;
	color: #adff2f;
}

main {
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 30px;
	color: #ffffff;
}

.personaje {
	background-color: #000000c4;	
	align-content: center;
	/* align-items: center; */
}

.image-container {
	display: flex;
}

.image-container img {
	width: 100%;
}

article {
	padding: 10px;
	box-shadow: 0px 0px 10px #000;
}

.filtro {
	display: none;
}

.buscador{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
	font-family: sans-serif;
}
#buscador{
	box-shadow: 10px 5px 5px black;
	border:solid #ffffff;
	margin-left: 2px;
}
